body{

    background-color: rgb(248, 194, 223);
}

.wrapper {

height: 420px;
width: 054px;
margin: 50px;
border-radius: 7px 7px 7px;
-webkit-box-shadow: 0px 14px 32px  0px rgba(246, 13, 234, 0.968);
-moz-box-shadow: 0px 14px 32px 0px rgba(0.0.0.0.15);
box-shadow: 0px 14px 32px 0px rgba(0.0.0.0.15);


}

#roupas{

    float: left;
    height: 420px;
    width: 327px;
    
}




